@charset "UTF-8";
/* CSS Document */

header {
	background-image: url(images/header-bg-image.png);
	height: 460px;
	position: relative;
	
}

.logo {
	text-align: center;
	font-size: 24px;
	padding-top: 22px;
}
	
body {
	margin: auto;
	font-family: Arial;
}

header ul.navigation {
	list-style: none;
	text-align: center;
	
}

header ul.bread-crumbs {
	list-style: none;
		
	text-align: center;
	position: absolute;
	display: block;
	bottom: 0px;
	right: 0;
	left: 0;
}

header ul.bread-crumbs li {
	display: inline;
	font-size: 11px;
	text-align: center;
	
}


header ul.bread-crumbs li:first-child:before {
	content: '';
}

header ul.bread-crumbs li:before {
	content: url(images/bread-crumb.png);
	padding-right: 5px;
}

header ul.navigation li {
	display: inline;
	text-transform: uppercase;
	padding: 11px 9px;
	
	
}
header ul.navigation li:hover {
	
	background-color:#FDFDFD;
}
header ul li a {
	font-size: 13px;
}


.menu-options {
	color:#BABABA;
	text-height:3px;
	text-decoration: none;	
}

.skills {
	width:100%;
}

.skills tr td {
	height: 45px;
}

.skill-category {
	width: 100px;
}




.skill-level-indicator {
	width: 100%;
	display:inline-block;
	border-bottom: 3px solid #46bbcd;
}


.skill-level-indicator.fortypercent {
	width: 40%;
}

.skill-level-indicator.sixtypercent {
	width: 59.6%;
}

.skill-level-indicator.seventypercent {
	width: 69.6%;
}

.skill-level-indicator.black {
	border-bottom-color: #000;
}

.skill-level-indicator.thirtypercent {
	width: 30%;
}
.skill-level-indicator.eightyfivepercent {
	width: 85%;
}

.skill-level-indicator.twentyfivepercent {
	width: 14.6%;
}
.skill-level-indicator.ninetypercent {
	width: 90%;
}

.skill-level-indicator.tenpercent {
	width: 9.5%;
}

.wrapper {
	width: 1180px;
	margin: 0 auto;
}

.header-alignment {
	text-align: center;
	
	font-weight: normal;
}


#media {
	
	margin-top:50px;
		
}

#media > div {
	width:  20%;
	float: left;
	height: 100px;
	padding-top: 170px;
	text-align:center;
	padding-bottom: 30px;
}

#media .percentage {
	font-size:30px;
}

.phone {
	background:url(images/media/phone.png) no-repeat top center;
}

.phablet {
	background:url(images/media/phablet.png) no-repeat top center;
}

.cd {
	background:url(images/media/cd.png) no-repeat top center;
}
.card {
	background:url(images/media/card.png) no-repeat top center;
}

.computer {
	background:url(images/media/screen.png) no-repeat top center;
}

#content-box > div {
	height: 200px;
	width: 278px;
	float: left;
	
	
	padding-left: 95px;
	padding-right:  20px;
}

#content-box > div > p {
	line-height: 30px;
	color: #bcbcbc;
}

.section1 {
	background: url(images/content-box-images/img1.png) no-repeat top left;
}
	
.section2 {
	background: url(images/content-box-images/img2.png) no-repeat top left;
}
.section3 {
	background: url(images/content-box-images/img3.png) no-repeat top left;
}
.section4 {
	background: url(images/content-box-images/img4.png) no-repeat top left;
}
.section5 {
	background: url(images/content-box-images/img5.png) no-repeat top left;
}
.section6 {
	background: url(images/content-box-images/img6.png) no-repeat top left;
}

#content-box-sections > div {
width: 350px;
float: left;
padding-right: 43px;
}


#content-box-sections > div > p {
	line-height: 30px;
	color: #bcbcbc;
}

#content-box-sections > div > h3 {
	text-align: center;
}

#content-box > h2 {
text-align: center;
}

.meeting {
	background: url(images/meeting-notes.png) no-repeat top center;
}


.work-hard {
	background: url(images/work-hard.png) no-repeat top center;
}


.advertisement {
	background: url(images/advertisement.png) no-repeat top center;
}

.invoice {
	background: url(images/invoice.png) no-repeat top center;
}



.communication-icons {
	text-align: center;
	clear: both;
}


.communication-icons > div {
	display: inline-block;
	width: 284px;
	height: 134px;
	padding-top: 70px;
	
}

.college-stuffs > div {
	height: 270px;
	width: 330px;
	float: left;
	padding-right: 63px;
}

.college-stuffs > div > p {
	line-height: 30px;
	color: #bcbcbc;

}

.college-stuffs:after {
	clear: both;
	content: " ";
	display: block;
}

.accordion {
	width: 100%;
}

.leftside {
	border-bottom: 1px solid #E21619;
}

.rightside {
	border: 1px solid #E21619;
}

.accordion-pane-header {
	width: 450px;
	
}




